@main-color: #283645;
@main-bg-color: #ffffff;
@alt-bg-color: #f2f2f2;
@reddish-color: #d22856;

@phone-padding: 20px;
@tablet-padding: 20px;

@phone-width: 320px;
@tablet-width: 660px;
@desktop-width: 960px;

@phone-content-width: 280px;
@tablet-content-width: 620px;
@desktop-content-width: 940px;

@body-style: grow;

.body-align() when(@body-style = fixed) {
  margin: 0 auto;
  padding: 0;
  width: @phone-width;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.body-align() when(@body-style = grow) {
  margin: 0;
  padding: 0;
  min-width: @phone-width;

  @media (min-width: @tablet-width) {
    min-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    min-width: @desktop-width;
  }
}

body {
  .body-align();

  font-family: "Open Sans", Tahoma, sans-serif;
  .set-font(normal; 14px; 24px);
  text-align: center;
  color: @main-color;
  background: @main-bg-color;
}
