@main-color: #283645;
@main-bg-color: #ffffff;
@alt-bg-color: #f2f2f2;
@reddish-color: #d22856;
@greenish-color: #2aab6d;
@form-border: #e5e5e5;

@phone-padding: 20px;
@tablet-padding: 20px;

@phone-width: 320px;
@tablet-width: 660px;
@desktop-width: 960px;

@phone-content-width: 280px;
@tablet-content-width: 620px;
@desktop-content-width: 940px;

body {
  .reset();
  min-width: @phone-width;

  @media (min-width: @tablet-width) {
    min-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    min-width: @desktop-width;
  }

  font-family: "Open Sans", Tahoma, sans-serif;
  .set-font(normal; 14px; 24px);
  text-align: center;
  color: @main-color;
  background: @main-bg-color;
}

.icon-hidden      { display: none; }
.icon-tablet      { display: none; }
.icon-desktop     { display: none; }
.icon-tablet-only { display: none; }
.icon-mobile-tablet {display: inline; }

@media (min-width: @tablet-width) {
  .icon-tablet      { display: inline; }
  .icon-tablet-only { display: inline; }
}

@media (min-width: @desktop-width) {
  .icon-desktop { display: inline; }
  .icon-tablet-only { display: none; }
  .icon-mobile-tablet { display: none; }
}

svg,
svg use {
  position: relative;
  .reset();
}
