.advantages {
  background: white;
  padding-top: 40px;

  .add-bg-outline();

  &__promo-title {
    .container();
    margin-bottom: 28px;
    .set-font(light; 24px; 29px);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__item-list {
    position: relative;
    padding-top: 114px;
    padding-bottom: 318px;

    .add-bg-image("../img/bg-triangle-white.svg", center top);
    background-color: @alt-bg-color;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      .size(157px; 278px);
      transform: translateX(-50%);
      .add-bg-image("../img/iphone-screen-mobile.png", center top);
    }
  }

  &__item {
    .container();
    margin-bottom: 31px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__item-title {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;

    .set-font(bold; 18px; 24px);
    color: black;
  }

  &__item-text {
    margin: 0;
    padding: 0;

    .set-font(14px; 24px);
  }

  @media (min-width: @tablet-width) {
    padding-top: 49px;

    &__promo-title {
      margin-bottom: 0;
      .set-font(light; 40px; 48px);

      &:last-of-type {
        padding: 0 100px;
        margin-bottom: 26px;
      }
    }

    &__item-list {
      padding-top: 95px;
      padding-bottom: 41px;

      text-align: left;

      &::after {
        .size(268px; 481px);
        background-size: 100% auto;
        bottom: -2px;
        transform: translateX(-309px);
      }
    }

    &__item {
      padding-left: 310px;
      margin-bottom: 35px;
    }

    &__item-text {
      padding: 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 68px;

    &__promo-title {
      .set-font(light; 50px; 60px);

      &:last-of-type {
        padding: 0 260px;
        margin-bottom: 85px;
      }
    }

    &__item-list {
      padding-top: 0;
      padding-bottom: 56px;
      text-align: center;
      background-size: 100% auto;

      &::after {
        content: none;
      }
    }

    &__item {
      position: relative;
      .display-ib(top);
      margin: 0 38px;
      padding: 347px 0 0;
      width: 240px;

      &::after {
        content: "";
        position: absolute;
        top: -9px;
        left: 50%;
        .size(186px; 300px);
        transform: translateX(-50%);
        .add-bg-image("../img/iphone-screen-mobile.png", center top);
        background-size: 100% auto;
      }
    }

    &__item-title {
      .set-font(30px; 30px);
      margin-bottom: 24px;
    }

    &__item-text {
      padding: 0;
      .set-font(18px; 30px);
    }
  }
}
