.advantages {
  background: white;
  padding: 0;
  padding-top: 30px;

  .bg-outline(green);

  &__promo-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;

    &:last-of-type {
    margin-bottom: 10px;
    }
  }

  &__item-list {
    padding-top: 120px;
    padding-bottom: 279px;
    .add-bg-image("../img/bg-triangle-white.svg", center top);
    .add-bg-image("../img/iphone-screen-mobile.png", center 538px);
    background-color: #f2f2f2;
  }

  &__item {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    .bg-outline(red);
  }

  &__item-title {
    margin: 0;
    padding: 0;
    margin-bottom: 13px;

    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: black;
  }

  &__item-text {
    margin: 0;
    padding: 0 20px;

    font-size: 14px;
    line-height: 24px;
  }
}
