.comments {
  .add-bg-outline();

  &__item-list {
    display: flex;
    flex-flow: row wrap;
  }

  &__item {
    flex: 1;
  }

  &__item--top {
    flex: 0 100%;
  }

  &__item {
    padding: 0;
    margin: 10px;
    min-width: 300px;
  }
}
