.comments {
  .add-bg-outline();

  min-height: 900px;  // layout optimization

  &__promo {
    .container();
    width: 250px;
    padding-top: 45px;
    padding-bottom: 49px;

    .set-font(normal; 14px; 30px);
  }

  &__panorama {
    display: block;
    position: relative;
    height: 137px;
    overflow: hidden;

    picture {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: auto;
      transform: translateX(-50%);
    }

    &::before {
      content: "Панорама дня";
      position: absolute;
      z-index: 5;
      top: 0;
      left: 50%;
      width: 140px;
      padding: 6px 0;
      .set-font(bold; 12px; 24px);
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      background: @reddish-color;
    }
  }

  &__item-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .container();
  }

  &__item {
    .reset();
    margin-bottom: 20px;
    width: 280px;
    text-align: left;

    display: flex;
    flex-flow: column;

    background: @alt-bg-color;
  }

  &__photo {
    .reset();
    .size(280px; 180px);
  }

  &__author {
    padding: 11px 17px 0;
    font-style: normal;
    .set-font(bold; 14px; 24px);

    time {
      .set-font(light; 12px; 24px);
      text-transform: uppercase;
    }
  }

  &__item:first-child &__author {
    padding-top: 18px;
  }

  &__text {
    margin: 0;
    margin-top: -1px;
    padding: 0 17px 10px;
    .set-font(normal; 14px; 24px);
  }

  &__item:nth-child(n + 5) &__text {
    padding-bottom: 11px;
  }

  &__likes {
    position: relative;
    margin-top: auto;
    padding-left: 49px;
    padding-bottom: 20px;

    .set-font(normal; 12px; 24px);
    color: @reddish-color;
    text-transform: uppercase;

    svg {
      position: absolute;
      top: 5px;
      left: 18px;
      .size(14px; 12px);
      fill: @reddish-color;
    }
  }

  @media (min-width: @tablet-width) {
    &__promo {
      width: 500px;
      padding-top: 92px;
      padding-bottom: 76px;

      .set-font(normal; 18px; 30px);
    }

    &__panorama {
      height: 509px;

      &::before {
        top: 57px;
        left: 50%;
        transform: translateX(170px);
      }
    }

    &__item {
      width: 300px;
      min-height: 455px;

      &:first-child {
        position: relative;
        width: 100%;
        min-height: 121px;
        margin-bottom: 50px;
      }
    }

    &__likes {
      padding-left: 27px;
      padding-bottom: 21px;

      svg {
        top: 4px;
        left: auto;
        right: 31px;
      }
    }

    &__item:first-child {
      flex-flow: row-reverse wrap;
      justify-content: space-between;
    }

    &__author {
      padding: 17px 27px 0;
    }

    &__item:first-child &__author {
      padding-top: 24px;
    }

    &__item:first-child &__likes {
      order: -1;
      .reset();
      margin-top: 25px;
      right: 59px;

      svg {
        top: 5px;
        right: -31px;
      }
    }

    &__text {
      padding: 0 27px 10px;
    }

    &__item:first-child &__text {
      margin-top: -16px;
      flex-grow: 1;
    }

    &__photo {
      .size(300px; 300px);
    }
  }

  @media (min-width: @desktop-width) {
    &__promo {
      width: 600px;
      padding-bottom: 88px;
    }

    &__panorama {
      height: 506px;

      &::before {
        top: 54px;
        left: 50%;
        transform: translateX(330px);
      }
    }

    &__item {
      min-height: 555px;
      margin-top: 34px;

      &:first-child {
        min-height: 96px;
        margin-top: 0;
        margin-bottom: 16px;
      }
    }

    &__photo {
      .size(300px; 400px);
    }

    &__item:first-child &__likes {
      right: 62px;
    }
  }
}
