.contacts {
  min-height: 376px;

  .bg-outline(green);

  &__map {
    height: 219px;
    width: 320px;
    .add-bg-image("../img/bg-triangle-white-footer.svg", center top);
    .add-bg-image("../img/bg-map.png", center);

    .bg-outline(red);
  }
}
