.main-menu {
  position: relative;
  margin: 0;
  padding: 0 20px;
  min-width: @phone-content-width;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  min-height: 66px;

  &__logo {
    position: relative;
    z-index: 20;
    top: 7px;

    svg {
      left: -73px;
      top: -3px;
      .size(148px; 41px);
      fill: white;
    }

    &:hover svg {
      fill: @reddish-color;
    }

    &:active svg {
      fill: white;
      opacity: 0.3;
    }
  }

  &__toggle {
    position: relative;
    z-index: 20;
    top: 21px;

    svg {
      .size(50px; 24px);
      fill: white;
    }

    &:hover svg {
      fill: @reddish-color;
    }

    &:active svg {
      opacity: 0.3;
    }
  }

  &__wrapper {
    .absolute(top);
    z-index: 10;
    padding-top: 69px;
    background: @main-color;
  }

  &__item-list {
    .reset-list();
    display: flex;
    flex-direction: column;

    border-top: 1px solid black;
  }

  &__item {
    margin: 0;
    border-top: 1px solid #485461;
    border-bottom: 1px solid black;

    a {
      display: block;
      color: white;
      padding: 15px;
      .set-font(bold; 18px; 32px);
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: @reddish-color;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0 @tablet-padding;
    min-width: @tablet-content-width;
    min-height: 110px;

    &__logo {
      top: 29px;

      svg {
        left: 0;
      }
    }

    &__toggle {
      top: 44px;
    }

    &__wrapper {
      padding-top: 110px;
    }
  }

  @media (max-width: (@desktop-width - 1)) {
    &__wrapper {
      &--closed {
        display: none;
      }
    }

    .nojs & {
      padding: 0;
    }

    .nojs &__logo {
      position: absolute;
      left: 20px;
    }

    .nojs &__toggle{
      display: none;
    }

    .nojs &__wrapper {
      position: static;
      flex-grow: 1;

      &--closed {
        display: block;
      }
    }
  }

  @media (min-width: @desktop-width) {
    .reset(center);
    width: @desktop-content-width;

    &__toggle {
      display: none;
    }

    &__wrapper {
      position: relative;
      top: 24px;
      padding: 0;
      min-width: 622px;
      background: none;
    }

    &__item-list {
      flex-direction: row;
      justify-content: space-between;
      border: none;
    }

    &__item {
      border: none;

      a {
        padding: 14px 0 16px;
        text-transform: none;
        font-weight: normal;

        &:hover {
          position: relative;
          color: white;

          &::after {
            content: "";
            .absolute(bottom; 10px);
            height: 2px;
            background: white;
          }
        }

        &:active::after {
          content: none;
        }
      }
    }
  }
}
