.main-menu {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .container();
  min-height: 66px;
  height: 50px;  // fix issue in IE

  background: fade(#000, 30%);

  .add-bg-outline(nobg-all);

  &__logo {
    position: relative;
    z-index: 10;

    .bg-image-btn(74px; 22px; "../img/logo-pink-white-mobile.svg");
  }

  &__toggle {
    .bg-image-btn(51px; 24px; "../img/icon-menu-burger.svg");

    &--closed {
      display: none;
    }
  }

  &__wrapper {
    .absolute(top);
    padding-top: 69px;
    background: @main-color;
  }

  &__item-list {
    .reset-list();
    display: flex;
    flex-direction: column;

    border-top: 1px solid black;
  }

  &__item {
    margin: 0;
    padding: 15px;
    border-top: 1px solid #485461;
    border-bottom: 1px solid black;

    a {
      color: white;
      .set-font(bold; 18px; 32px);
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: black;
      }
    }
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: @common-padding-phone;

    .bg-image-btn(24px; 69px; "../img/icon-menu-cross.svg");
  }

  @media (min-width: @tablet-width) {
    min-height: 110px;

    &__wrapper {
      padding-top: 110px;
    }

    &__close-btn {
      height: 110px;
      right: @common-padding-tablet;
    }
  }

  @media (max-width: (@desktop-width - 1)) {
    &__wrapper {
      &--closed {
        display: none;
      }
    }
  }

  @media (min-width: @desktop-width) {
    &__toggle,
    &__close-btn {
      display: none;
    }

    &__wrapper {
      position: static;
      padding: 0;
      background: none;
    }

    &__item-list {
      flex-direction: row;
      border: none;
    }

    &__item {
      margin-right: 80px;
      border: none;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-transform: none;
        font-weight: normal;
      }
    }
  }
}
