.page-header {
  position: relative;
  min-height: 237px;

  .add-bg-image("../img/bg-back-mobile.jpg"; center -3px);
  background-color: #1d2631;

  .add-bg-outline(nobg-all);

  &__menu-container {
    background: fade(#000, 30%);
    .add-bg-outline(nobg-all);
  }

  &__title {
    .container();
    padding-top: 30px;
    width: 240px;

    .set-font(light; 24px; 29px);
    color: white;
  }

  &--with-photo {
    min-height: 729px;
    background-position: center -7px;
  }

  &--with-photo &__title {
    padding-top: 19px;
  }

  &--with-photo::after {
    content: "";
    position: absolute;
    height: 286px;
    width: @phone-width;
    bottom: 271px;
    left: 50%;
    transform: translateX(-50%);
    .add-bg-image("../img/iphone-hand-mobile.png"; left top);
  }

  &__apps-wrapper {
    position: relative;
    z-index: 5;
  }

  @media (max-width: (@tablet-width - 1)) {
    &__apps-wrapper {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: @tablet-width) {
    min-height: 440px;
    background-size: auto 100%;
    background-position: center;

    &__title {
      padding-top: 70px;
      width: 520px;
      .set-font(light; 50px; 60px);
    }

    &--with-photo {
      padding-bottom: 80px;
    }

    &--with-photo::after {
      height: 500px;
      width: @tablet-content-width;
      bottom: 47px;
      background-size: auto 100%;
      background-position: 170px top;
    }

    &--with-photo &__title {
      position: relative;
      z-index: 5;
      padding: 93px 320px 2px 0;

      .set-font(light; 40px; 48px);
    }

    &__apps-wrapper {
      .container();
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 394px;

    &__title {
      padding-top: 64px;
    }

    &--with-photo {
      padding-bottom: 92px;
    }

    &--with-photo::after {
      height: 591px;
      width: @desktop-content-width;
      bottom: 55px;
      background-position: 371px top;
    }

    &--with-photo &__title {
      padding: 108px 640px 23px 0;
      width: @desktop-content-width;

      .set-font(light; 50px; 60px);
    }
  }
}
