.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .container();
  height: 290px;

  &__logo {
    font-size: 0;

    svg {
      left: 0;
      top: 4px;
      .size(148px; 41px);
      fill: @main-color;
    }

    &:hover svg {
      fill: @reddish-color;
    }

    &:active svg {
      fill: @main-color;
      opacity: 0.3;
    }
  }

  &__copyright {
    .set-font(normal; 14px; 18px);
  }

  &__copyright-logo {
    .display-ib(middle);
    padding-left: 13px;

    svg {
      .size(27px; 34px);
      top: 3px;
      right: 2px;
      fill: @reddish-color;
    }
  }

  @media (max-width: (@tablet-width - 1)) {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;

    &--closed {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    height: 127px;

    &__logo {
      padding-right: 13px;
      padding-bottom: 15px;
    }

    &__copyright {
      padding-top: 4px;
      padding-left: 31px;
    }

    &__copyright-logo {
      padding-left: 11px;

      svg {
        right: 0px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    height: 197px;

    &__logo {
      padding-right: 13px;
    }

    &__copyright {
      width: 155px;
      padding-top: 2px;
      padding-left: 0;
      .set-font(normal; 18px; 18px);
    }

    &__copyright-logo {
      padding-left: 8px;

      svg {
        left: 1px;
      }
    }
  }
}
