.page-header {
  .add-bg-outline(nobg-all);

  position: relative;
  min-height: 237px;

  .add-bg-image("../img/bg-back-mobile.jpg"; center -3px);
  background-size: 700px auto;
  background-color: #1d2631;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &__menu-container {
    background: fade(black, 30%);
  }

  &__title {
    .container();
    padding-top: 30px;
    width: 240px;

    .set-font(light; 24px; 29px);
    color: white;

    &--fancy {
      padding-top: 19px;
      padding-bottom: 29px;
    }
  }

  &__photo {
    display: block;
    .reset(center);
    padding-right: 62px;
    .size(258px; 286px);
  }

  &__apps-wrapper {
    position: relative;
    z-index: 5;
  }

  @media (max-width: (@tablet-width - 1)) {
    &__apps-wrapper {
     background-color: #1d2631;
   }
  }

  @media (min-width: @tablet-width) {
    min-height: 440px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center top;
    background-size: 1200px auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &__title {
      padding-top: 70px;
      width: 520px;
      .set-font(light; 50px; 60px);

      &--fancy {
        position: relative;
        z-index: 5;
        padding: 93px 320px 2px 0;
        .set-font(light; 40px; 48px);
      }
    }

    &__photo {
      position: absolute;
      .size(700px; 545px);
      bottom: 0;
      left: 50%;
      transform: translate(-350px);
    }

    &__apps-wrapper {
      margin: 0 auto;
      width: @tablet-content-width;
      padding-bottom: 80px;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 394px;

    background-image: url("../img/bg-back-desktop.jpg");
    background-size: 2560px auto;

    &__title {
      padding-top: 64px;
      width: 800px;

      &--narrow {
        width: 520px;
      }

      &--fancy {
        padding: 108px 640px 23px 0;
        width: @desktop-content-width;

        .set-font(light; 50px; 60px);
      }
    }

    &__photo {
      .size(1050px; 645px);
      bottom: -1px;
      transform: translate(-454px);
    }

    &__apps-wrapper {
      padding-bottom: 92px;
      width: @desktop-content-width;
    }
  }
}
