.photo-editor {
  .add-bg-outline();

  padding-top: 20px;

  &__promo {
    .container();
    padding-bottom: 42px;
    padding-right: 1px;
    .set-font(normal; 14px; 30px);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 41px;
    max-width: 940px;

    background: @alt-bg-color;
  }

  &__image {
    .size(280px; 374px);
    margin-bottom: 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    min-height: 282px;
    height: 100px;
  }

  &__controls {
    position: relative;
    width: 280px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: auto;
  }

  &__radio {
    display: none;
  }

  &__label {
    .size(48px; 48px);
    margin: 0 16px 24px;

    &::after {
      content: "";
      position: absolute;
      bottom: -22px;
      height: 1px;
      left: -20px;
      right: -20px;
      background: #dddfe0;
    }

    svg {
      .size(48px; 48px);
      fill: @reddish-color;
    }
  }

  &__range {
    .reset();
    width: 240px;

    .set-range(@thumb-size: 13px;
               @thumb-color: @alt-bg-color;
               @thumb-border-color: @reddish-color;
               @thumb-border-size: 2px;
               @track-color: @main-color);
    background: @alt-bg-color;
  }

  @media (max-width: (@tablet-width - 1)) {
    &__label svg {
      fill: @main-color;
      opacity: 0.3;
    }

    &__label:hover svg {
      opacity: 0.5;
    }

    &__radio:nth-of-type(1):checked ~ &__label:nth-of-type(1) svg,
    &__radio:nth-of-type(2):checked ~ &__label:nth-of-type(2) svg,
    &__radio:nth-of-type(3):checked ~ &__label:nth-of-type(3) svg {
      fill: @reddish-color;
      opacity: 1;
    }

    &__range {
      display: none;
      order: 1;
    }

    &__radio:nth-of-type(1):checked ~ &__range:nth-of-type(4),
    &__radio:nth-of-type(2):checked ~ &__range:nth-of-type(5),
    &__radio:nth-of-type(3):checked ~ &__range:nth-of-type(6) {
      display: block;
    }
  }

  &__button {
    display: block;
    margin: 12px auto 0;
    box-sizing: content-box;
    width: 274px;
    padding: 15px 0 16px;
    background: none;

    .set-font(bold; 18px; 18px);

    border: 3px solid black;
    border-radius: 27px;

    &[type="submit"] {
      color: @reddish-color;
      border-color: @reddish-color;

      &:hover {
        color: white;
        background: @reddish-color;
      }

      &:active {
        color: fade(white, 30%);
      }
    }

    &[type="reset"] {
      color: @main-color;
      border-color: @main-color;
      opacity: 0.1;

      &:hover {
        opacity: 0.3;
      }

      &:active {
        background: @main-color;
        color: fade(white, 30%);
      }
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 45px;

    &__promo {
      padding-bottom: 69px;
      .set-font(normal; 18px; 30px);
    }

    &__wrapper {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding-top: 40px;
      padding-bottom: 54px;
    }

    &__image {
      padding-top: 17px;
      margin-bottom: 0;
      margin-right: 10px;
      .size(300px; 400px);
    }

    &__form {
      margin-left: 24px;
      min-height: 417px
    }

    &__controls {
      width: 275px;
      padding-left: 11px;
      justify-content: space-between;
      align-items: center;
    }

    &__label {
      position: relative;
      .size(24px; 24px);
      margin: 25px 0 0;
      padding: 0 2px 24px;

      &::after {
        left: 0;
        bottom: 0;
        width: 275px;
      }

      svg {
        .size(24px; 24px);
      }

      &--fill svg {
        top: 1px;
        left: 1px;
      }

      &--contrast svg {
        top: 1px;
        left: 2px;
      }

      &--contrast {
        padding-bottom: 23px;
        margin-top: 21px;

        &::after {
          bottom: -2px;
        }
      }
    }

    &__range {
      padding: 0 18px;
      width: 202px;
    }

    &__button {
      margin-top: 24px;
      width: 254px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 39px;
    padding-bottom: 28px;

    &__promo {
      padding-bottom: 66px;
    }

    &__wrapper {
      max-width: 820px;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 57px;
    }

    &__image {
      margin-left: 20px;
      margin-right: 90px;
    }

    &__form {
      width: 410px;
      margin-left: 0;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: space-between;
    }

    &__controls {
      width: 410px;
      padding-left: 0;
    }

    &__range {
      padding: 0 30px;
      width: 288px;
    }

    &__label {
      .size(48px; 48px);
      margin: 14px 0 0;
      padding: 0 0 11px;
      background-size: auto;

      &::after {
        width: 410px;
      }

      svg {
        .size(48px; 48px);
      }

      &--crop svg {
        top: -1px;
        left: -2px;
      }

      &--fill svg {
        top: -1px;
        left: 0;
      }


      &--contrast {
        margin-top: 9px;

        svg {
          top: 1px;
          left: -2px;
        }
      }
    }

    &__button {
      width: 177px;
      margin: 0;
    }
  }
}
