.popup {
  .add-bg-outline();

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 0;
  padding-top: 45px;
  width: 320px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background: @main-bg-color;

  &--closed {
    display: none;
  }

  &__title {
    margin: 0 auto 26px;
    padding: 0;
    .set-font(bold; 18px; 24px);
    color: black;
  }

  &__text {
    margin: 0;
    padding: 0 20px;
    margin-bottom: 31px;
  }

  &__form {
    margin: 0;
    padding: 0;
    padding-top: 6px;
    min-height: 115px;
    background: @main-bg-color;


    &--alternate {
      padding-top: 48px;
      background: @alt-bg-color;
    }
  }

  &__button {
    margin: 0 auto;
    padding: 17px 0 16px;
    width: 280px;
    .set-font(bold; 18px; 30px);
    text-transform: uppercase;
    background: @greenish-color;
    color: @main-bg-color;
    border: none;
    border-radius: 2px;
  }
}
