.social-links {
  .add-bg-outline();

  white-space: nowrap;
  font-size: 0;

  &__link {
    .display-ib(top);
    margin: 0 7px;
    .size(46px; 46px);
    border: 2px solid fade(@main-color, 10%);
    border-radius: 50%;

    &--twitter svg {
      top: 16px;
      .size(18px; 14px);
      fill: @reddish-color;
    }

    &--facebook svg {
      top: 14px;
      .size(9px; 18px);
      fill: @reddish-color;
    }

    &--youtube svg {
      top: 16px;
      .size(15px; 13px);
      fill: @reddish-color;
    }

    &:hover {
      border-color: @main-color;
    }

    &:active {
      border-color: fade(@main-color, 30%);
      opacity: 0.3;
    }
  }
}
